<div class="container mt-4">
    <h1>Edit User</h1>
    <form>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">User name</label>
            <input v-model="username" type="email" class="form-control" id="exampleInputEmail1">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input v-model="password" type="password" class="form-control" id="exampleInputPassword1">
            <!-- <div id="emailHelp" class="form-text">Nhập sai ban nick :))</div> -->
        </div>
        <button type="submit" class="btn btn-primary" v-on:click="saveData">Update</button>
    </form>
</div>